In [1]:
import pandas as pd

c:\Users\chldy\anaconda3\envs\torch\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df_b= pd.read_excel('C:/Users/chldy/OneDrive/바탕 화면/용용/딥러닝 부트캠프/교육데이터공모전/2023년 하반기 유초중등 학교별 학년별 학생수 학급수 교원 직원_240221.xlsx',sheet_name='학교별 주요 통계', header=12, usecols='A:CV')
df_a= pd.read_excel('C:/Users/chldy/Downloads/2023년 유초중등 학교별 학년별 학생수 학급수 입학 졸업 교원 직원 면적_240319 (1).xlsx',sheet_name='학교별 주요통계', header=14, usecols='A:ER')
df_comb= pd.read_excel('C:/Users/chldy/Downloads/final_df.xlsx')

In [3]:
comb_list= df_comb['학교명'].to_list()

In [4]:
df_ex_comb= df_b[~df_b['학교명'].isin(comb_list)]

In [5]:
df_ex_comb # 통합학교 뺌

,조사기준일,시도,행정구,교육\n(지원)청,학교급,고등학교\n유형,운영상특례,학교\n세부유형,학교명,본분교,...,교원수_기간제_계,교원수_기간제_남,교원수_기간제_여,교원1인당 학생수,전체직원_계,전체직원_남,전체직원_여,정규직원_계,정규직원_남,정규직원_여
0,20231001,서울,성북구,서울시,고등학교,일반고,해당없음,일반고등학교,서울대학교사범대학부설고등학교,본교,...,17,8,9,9.8,16,2,14,4,1,3
1,20231001,서울,송파구,서울시,고등학교,일반고,해당없음,일반고등학교,가락고등학교,본교,...,15,5,10,10.9,10,2,8,4,1,3
2,20231001,서울,강남구,서울시,고등학교,일반고,해당없음,일반고등학교,개포고등학교,본교,...,13,3,10,10.2,11,2,9,5,1,4
3,20231001,서울,강남구,서울시,고등학교,일반고,해당없음,일반고등학교,경기고등학교,본교,...,14,4,10,11.7,15,7,8,6,4,2
4,20231001,서울,성북구,서울시,고등학교,일반고,해당없음,일반고등학교,경동고등학교,본교,...,9,3,6,9.2,14,4,10,4,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20738,20231001,제주,서귀포시,서귀포시,중학교,NaN,해당없음,일반중학교,위미중학교,본교,...,4,3,1,6.5,8,1,7,3,1,2
20739,20231001,제주,서귀포시,서귀포시,중학교,NaN,해당없음,일반중학교,중문중학교,본교,...,3,1,2,11.0,13,2,11,4,2,2
20740,20231001,제주,서귀포시,서귀포시,중학교,NaN,해당없음,일반중학교,표선중학교,본교,...,4,1,3,10.9,15,5,10,5,3,2
20741,20231001,제주,서귀포시,서귀포시,중학교,NaN,해당없음,일반중학교,효돈중학교,본교,...,2,1,1,7.5,8,0,8,3,0,3
20742,20231001,제주,서귀포시,서귀포시,중학교,NaN,해당없음,일반중학교,남주중학교,본교,...,3,1,2,14.5,7,3,4,4,3,1

In [6]:
df_elementary= df_ex_comb[(df_ex_comb['시도']=='인천')&(df_ex_comb['학교급']=='초등학교')] #통합학교 뺀 데이터 중 인천 초, 중, 고 (교지 면적 없음) 하반기
df_middle= df_ex_comb[(df_ex_comb['시도']=='인천')&(df_ex_comb['학교급']=='중학교')]
df_high= df_ex_comb[(df_ex_comb['시도']=='인천')&(df_ex_comb['학교급']=='고등학교')]

In [7]:
df_aa_ele= df_a[(df_a['시도']=='인천')&(df_a['학교급']=='초등학교')] #통합학교 있는 교지 면적 o
df_aa_mid= df_a[(df_a['시도']=='인천')&(df_a['학교급']=='중학교')]
df_aa_hig= df_a[(df_a['시도']=='인천')&(df_a['학교급']=='고등학교')]

In [8]:
df_elementary

,조사기준일,시도,행정구,교육\n(지원)청,학교급,고등학교\n유형,운영상특례,학교\n세부유형,학교명,본분교,...,교원수_기간제_계,교원수_기간제_남,교원수_기간제_여,교원1인당 학생수,전체직원_계,전체직원_남,전체직원_여,정규직원_계,정규직원_남,정규직원_여
4197,20231001,인천,미추홀구,남부,초등학교,NaN,해당없음,초등학교,인천용학초등학교,본교,...,5,1,4,16.9,23,2,21,4,0,4
4198,20231001,인천,옹진군,남부,초등학교,NaN,해당없음,초등학교,인천남부초등학교이작분교장,분교장,...,0,0,0,3.0,0,0,0,0,0,0
4199,20231001,인천,옹진군,남부,초등학교,NaN,해당없음,초등학교,대청초등학교소청분교장,분교장,...,0,0,0,NaN,0,0,0,0,0,0
4200,20231001,인천,중구,남부,초등학교,NaN,해당없음,초등학교,인천공항초등학교,본교,...,5,1,4,13.7,20,4,16,5,3,2
4201,20231001,인천,미추홀구,남부,초등학교,NaN,해당없음,초등학교,인천관교초등학교,본교,...,1,1,0,15.0,20,2,18,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4910,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,조산초등학교,본교,...,3,1,2,3.1,8,0,8,2,0,2
4911,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,하점초등학교,본교,...,2,0,2,3.5,10,3,7,3,1,2
4912,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,합일초등학교,본교,...,1,0,1,7.6,16,2,14,4,0,4
4913,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,해명초등학교,본교,...,0,0,0,1.3,7,2,5,2,1,1
4914,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,화도초등학교,본교,...,2,0,2,4.7,10,2,8,2,1,1

In [9]:
df_aa= df_aa_ele[['학교명', '전체직원_계','일반\n교실','교과\n교실','특별\n교실','수준별교실','기타\n교실','교지면적','학생\n1인당\n교지면적']] #교지 면적 o, 상반기
df_bb= df_aa_mid[['학교명', '전체직원_계','일반\n교실','교과\n교실','특별\n교실','수준별교실','기타\n교실','교지면적','학생\n1인당\n교지면적']]
df_cc= df_aa_hig[['학교명', '전체직원_계','일반\n교실','교과\n교실','특별\n교실','수준별교실','기타\n교실','교지면적','학생\n1인당\n교지면적']]

In [10]:
df_aa

,학교명,전체직원_계,일반\n교실,교과\n교실,특별\n교실,수준별교실,기타\n교실,교지면적,학생\n1인당\n교지면적
4227,덕적초등학교,3,5,0,0,0,0,0,0.0
4228,인천용학초등학교,23,47,1,4,1,8,11000,9.4
4229,인천남부초등학교이작분교장,0,2,1,1,0,0,3905,433.9
4230,대청초등학교소청분교장,0,2,0,0,0,0,9428,0.0
4231,인천공항초등학교,19,24,0,6,0,17,11635,23.6
...,...,...,...,...,...,...,...,...,...
4947,교동초등학교지석분교장,0,0,0,0,0,0,0,0.0
4948,하점초등학교,9,8,0,5,0,0,13304,295.6
4949,합일초등학교,16,12,0,4,0,2,6963,46.4
4950,해명초등학교,7,5,0,4,0,4,11271,593.2
4951,화도초등학교,10,6,1,2,0,0,14275,209.9

In [11]:
merge_df_elementary= pd.merge(df_elementary, df_aa,how='inner',on='학교명')
merge_df_middle= pd.merge(df_middle, df_bb,how='inner',on='학교명')
merge_df_high= pd.merge(df_high, df_cc,how='inner',on='학교명')

In [12]:
merge_df_elementary

,조사기준일,시도,행정구,교육\n(지원)청,학교급,고등학교\n유형,운영상특례,학교\n세부유형,학교명,본분교,...,정규직원_남,정규직원_여,전체직원_계_y,일반\n교실,교과\n교실,특별\n교실,수준별교실,기타\n교실,교지면적,학생\n1인당\n교지면적
0,20231001,인천,미추홀구,남부,초등학교,NaN,해당없음,초등학교,인천용학초등학교,본교,...,0,4,23,47,1,4,1,8,11000,9.4
1,20231001,인천,옹진군,남부,초등학교,NaN,해당없음,초등학교,인천남부초등학교이작분교장,분교장,...,0,0,0,2,1,1,0,0,3905,433.9
2,20231001,인천,옹진군,남부,초등학교,NaN,해당없음,초등학교,대청초등학교소청분교장,분교장,...,0,0,0,2,0,0,0,0,9428,0.0
3,20231001,인천,중구,남부,초등학교,NaN,해당없음,초등학교,인천공항초등학교,본교,...,3,2,19,24,0,6,0,17,11635,23.6
4,20231001,인천,미추홀구,남부,초등학교,NaN,해당없음,초등학교,인천관교초등학교,본교,...,0,4,19,28,0,4,0,0,12563,21.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,조산초등학교,본교,...,0,2,8,7,0,1,0,1,13482,299.6
262,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,하점초등학교,본교,...,1,2,9,8,0,5,0,0,13304,295.6
263,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,합일초등학교,본교,...,0,4,16,12,0,4,0,2,6963,46.4
264,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,해명초등학교,본교,...,1,1,7,5,0,4,0,4,11271,593.2
265,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,화도초등학교,본교,...,1,1,10,6,1,2,0,0,14275,209.9

In [13]:
merge_df_elementary.to_csv('incheon_elementary.csv')
merge_df_middle.to_csv('incheon_middle.csv')
merge_df_high.to_csv('incheon_high.csv')

### 여기부터 쓰면됨

In [14]:
import pandas as pd
df= pd.read_csv('C:/Users/chldy/OneDrive/바탕 화면/용용/딥러닝 부트캠프/교육데이터공모전/incheon_elementary_code.csv')

In [24]:
df.drop(['Unnamed: 0'],axis=1, inplace=True)

In [26]:
pd.options.display.max_columns = 20

In [27]:
df

,조사기준일,시도,행정구,교육\n(지원)청,학교급,고등학교\n유형,운영상특례,학교\n세부유형,학교명,본분교,...,일반\n교실,교과\n교실,특별\n교실,수준별교실,기타\n교실,교지면적,학생\n1인당\n교지면적,lat,lon,법정동코드
0,20231001,인천,미추홀구,남부,초등학교,NaN,해당없음,초등학교,인천용학초등학교,본교,...,47,1,4,1,8,11000,9.4,126.643269,37.446686,28177102
1,20231001,인천,옹진군,남부,초등학교,NaN,해당없음,초등학교,인천남부초등학교이작분교장,분교장,...,2,1,1,0,0,3905,433.9,126.252760,37.176762,28720370
2,20231001,인천,옹진군,남부,초등학교,NaN,해당없음,초등학교,대청초등학교소청분교장,분교장,...,2,0,0,0,0,9428,0.0,124.750860,37.773776,28720340
3,20231001,인천,중구,남부,초등학교,NaN,해당없음,초등학교,인천공항초등학교,본교,...,24,0,6,0,17,11635,23.6,126.486001,37.491863,28110147
4,20231001,인천,미추홀구,남부,초등학교,NaN,해당없음,초등학교,인천관교초등학교,본교,...,28,0,4,0,0,12563,21.8,126.692719,37.446234,28177106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,조산초등학교,본교,...,7,0,1,0,1,13482,299.6,126.438362,37.653315,28710350
262,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,하점초등학교,본교,...,8,0,5,0,0,13304,295.6,126.414187,37.773692,28710370
263,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,합일초등학교,본교,...,12,0,4,0,2,6963,46.4,126.482806,37.744285,28710250
264,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,해명초등학교,본교,...,5,0,4,0,4,11271,593.2,126.362707,37.668700,28710410
265,20231001,인천,강화군,강화,초등학교,NaN,해당없음,초등학교,화도초등학교,본교,...,6,1,2,0,0,14275,209.9,126.418767,37.631868,28710340

In [59]:
elementary_dong= df.groupby('법정동코드').agg({
    '학생수_총계_계':'mean',
    '교지면적':'mean',
    '교원수_총계_계':'mean',
    '편성학급수_계':'mean',
    '학급당\n 학생수':'mean',
    '교원1인당 학생수':'mean',
    '전체직원_계_x':'mean',
    '정규직원_계':'count'
})

In [75]:
elementary_dong.columns= ['학생수_평균','교지면적_평균','교원수_평균','학급수_평균','학급당학생수_평균','교원수당학생수_평균','전체직원수_평균','학교개수']

In [76]:
elementary_dong

,학생수_평균,교지면적_평균,교원수_평균,학급수_평균,학급당학생수_평균,교원수당학생수_평균,전체직원수_평균,학교개수
법정동코드,,,,,,,,
28110118,135.0,11582.000000,18.0,12.0,11.30,7.5,11.0,1
28110120,489.0,2242.000000,20.0,18.0,27.20,24.5,9.0,1
28110125,387.0,15683.000000,36.0,24.0,16.10,10.8,19.0,1
28110128,523.0,11765.500000,35.0,26.0,19.70,14.6,20.5,2
28110137,195.0,21253.000000,24.0,14.0,13.90,8.1,14.0,1
...,...,...,...,...,...,...,...,...
28720310,10.5,8483.000000,3.5,3.5,2.90,2.9,2.0,2
28720330,79.5,14557.000000,13.0,7.0,11.15,6.0,8.5,2
28720340,11.0,10384.500000,3.0,2.5,4.40,3.7,1.5,2
28720360,195.0,19583.000000,19.0,13.0,15.00,10.3,9.0,1
28720370,5.0,7362.333333,2.0,2.0,2.50,2.5,0.0,3